apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
patches:
  - target:
      kind: APIManager
      name: apimanager
    patch: |-
      - op: replace
        path: /spec/wildcardDomain
        value: prod.apps.example.com
